<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Detail Test Suite">

    <listeners>
        <listener class-name="com.gears42.surelock.reports.ExtentReporterNG"/>
    </listeners>


    <test name="Test Cases">
        <classes>
            <class name="com.gears42.surelock.detailTestCases.SLAllowedApps">
            </class>
        </classes>
    </test>
</suite>